{% extends "base.html.twig" %}

{% block title %}Ajouter un produit{% endblock %}


{% block h1 %}Ajouter un produit{% endblock %}

{% block body %}
    <a href="{{ path('produit_afficher')}}" class="btn btn-warning my-3">Retour</a>
    
    {{ form(formProduit) }}  

{% endblock %}

