{% extends "base.html.twig" %}

{% block title %}Front{% endblock %}

{% block stylesheets %}
    <style>
        p {
            color: #004f79;
        }

        h1 {
            color: #0DCAF0;
        }
    </style>

{% endblock %}

{% block h1 %}{{ parent() }} {{ prenomTwig }}{% endblock %}

{% block body %}

    {# 
        commentaire HTML

        {{}} => interpolation : fonctions twig et variables
    #}

    <div class="text-center m-3">
        <img class="image" src="{{ asset('images/beach.jpg') }}" alt="">
    </div>

    <p class="text-justify">Le tramway jaune avance lentement dans le brouillard laiteux et surchauffé de cette fin d’après midi d’été. Le trafic s’écoule sous la canicule, se disperse et se répand dans les mille recoins de Budapest. La ville piétine et les enfants assiègent les marchands de glace. La voiture passe au loin, tourne sur les grands boulevards, longe une avenue et débouche sur le pont Elisabeth. Suspendu dans le vide, acrobate au fil des ans et de l’eau qui passent, le monument traverse le fleuve en une enjambée majestueuse, rétablissant le lien séculaire entre la ville bourgeoise de Pest et les collines royales de Buda. Sous le pont passe un hydroglisseur, il arrive de Vienne enrobé d’un cocon d’argent, milliards de gouttes d’eau qui brillent dans l’air surchauffé, d’où émergent en virevoltant les mouettes du Danube. Le Saint-Cloud de la Hongrie est plus haut, plus aride et plus difficile d’accès que celui de Paris. Bientôt la voiture est obligée de s’arrêter et on continue à pied pour arriver au point le plus culminant du mont Gellért, à cinq cents mètres d’altitude au cœur de la citadelle. On découvre alors la Ville, avec comme seul garde-fou les remparts de la fortification. Tout Budapest est là, séparée en deux par le large ruban argenté du Danube. Au nord, on devine l’île Marguerite, ses palaces et ses piscines. Les touristes y sirotent un peu de fraîcheur palpable qui vient des raisins du mont Tokaj. Plus près, comme des dentelles précieuses, le Parlement et le Château se font face de chaque côté du pont suspendu. Bientôt, le soleil se couche derrière Buda et les lumières de la cité scintillent de mille feux. On se perd alors dans les rues médiévales du Château, à la rencontre de l’inconnu, du vin qui enivre, de la musique qui enchante, et de la cuisine parfumée au paprika. Les violons jouent en sourdine autour des tables et les costumes du pays dansent la sarabande au rythme endiablé du Csárdás. Dans la nuit chaude, chargée d’électricité, dans la ville devenue féerie illuminée, pendant qu’un cymbalum égrène précieusement ses notes, indifférent à la fête et aux rêves, le tramway jaune attend son heure.</p>

{% endblock %}

